<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}iBookstore{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap core CSS -->


	<link rel="stylesheet"
		href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('AppBundle_Welcome_homepage')}}">iBookstore</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('AppBundle_Book_showBooks')}}">Ponuda</a></li>
            <li><a href="{{ path('AppBundle_Welcome_contact')}}">Kontakt</a></li>
            <li><a href="{{ path('AppBundle_Book_shopingCart')}}" class="btn btn-group-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Košarica</a></li>
          {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('AppBundle_User_usersList') }}">Korisnici</a></li>
            <li><a href="{{ path('AppBundle_Book_addBook') }}">Dodavanje knjige</a></li>
          {% endif %}
          </ul>
            <div class="navbar-right" >
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  <a href="{{ path('logout') }}" class="navbar-brand">{{ app.user.name }} {{ app.user.surname }} - Logout</a>
              {% else %}
                  <a href="{{ path('AppBundle_Security_login') }}" class="navbar-brand">Login</a>
              {% endif %}
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
          <div class="col-md-12">
            {% for flash_message in app.session.flashbag.get('notice') %}
              <div class="alert alert-success">
                {{ flash_message }}
              </div>
            {% endfor %}
            {% block body %}{% endblock %}
          </div>
      </div>
    </div><!-- /.container -->
  </body>
</html>
