{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

  <div id="main">
      {% block content %}
      <div class='container'>
          <div class='row' style='padding-top:25px; padding-bottom:25px;'>
              <div class='col-md-12'>
                <h2 style="text-align: center;">Vaša narudžba je zaprimljena</h2><hr/>
                <a href="{{path('AppBundle_Book_showBooks') }}" class="btn btn-info" style="width: 100%;">Vratite se na ponudu</a><hr/>
                  <b>Ime i prezime:</b> {{user.name }} {{ user.surname }} <br> <br>
                  <b>Narudžba:</b> <br>
                  {% for book in books %}
                  <div class="col-sm-10">
                  <h3>  - {{ book.name }} ---- {{ book.price }} kn<br> </h3>
                  </div>
                  {% endfor %}

                    <div class="jumbotron">
                      <h3>Ukupno:</h3> <b> {{ totalPrice }} kn </b></h1>
                    </div>
            </div>
        </div>
    </div>


      {% endblock %}
  </div>
{% endblock %}
